<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.cutebabies.firstone" android:theme="@android:style/Theme.NoTitleBar" android:versionName="1.0" android:versionCode="1" android:installLocation="preferExternal">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
<application>
  <activity android:name=".UnityPlayerActivity"
    android:launchMode="singleTask"
      android:process=":unityplayer"
      android:configChanges="orientation|screenSize" />
</application>
</manifest>
<!-- android:installLocation="preferExternal" -->